In [4]:
import pandas as pd
from modules import load_metadata
from datetime import datetime

# Read Data

In [35]:
tickers, dates_of_listing = load_metadata("/Users/akash/git/stonks/configs/EQUITY_L.csv")
df = pd.read_parquet("/Users/akash/git/stonks/datasets/full_data.parquet")
df = df[["ticker", "Date", "Open", "High", "Low", "Close", "Volume"]]
# df["key"] = df["ticker"] + "_" + df["Date"].astype(str)
# listing_keys = [key + "_" + str(value) for key, value in dates_of_listing.items()]

In [36]:
today = datetime.today()

In [37]:
# Assuming the earliest date for a stock is the listing date

df.groupby(["ticker"])[["Date"]].agg(["min", "max"])

                                Date
                                 min                       max
ticker
20MICRONS  2008-10-06 00:00:00+05:30 2024-06-14 00:00:00+05:30
21STCENMGM 2018-01-11 00:00:00+05:30 2024-06-14 00:00:00+05:30
360ONE     2019-09-19 00:00:00+05:30 2024-06-14 00:00:00+05:30
3IINFOLTD  2021-10-22 00:00:00+05:30 2024-06-14 00:00:00+05:30
3MINDIA    2004-08-13 00:00:00+05:30 2024-06-14 00:00:00+05:30
...                              ...                       ...
ZOTA       2019-08-19 00:00:00+05:30 2024-06-14 00:00:00+05:30
ZUARI      2012-11-27 00:00:00+05:30 2024-06-14 00:00:00+05:30
ZUARIIND   2002-07-01 00:00:00+05:30 2024-06-14 00:00:00+05:30
ZYDUSLIFE  2000-04-27 00:00:00+05:30 2024-06-14 00:00:00+05:30
ZYDUSWELL  2009-11-13 00:00:00+05:30 2024-06-14 00:00:00+05:30

[1993 rows x 2 columns]

In [38]:
df.head()

,ticker,Date,Open,High,Low,Close,Volume
0,20MICRONS,2008-10-06 00:00:00+05:30,35.138197,35.138197,13.879588,14.736081,23501600.0
1,20MICRONS,2008-10-07 00:00:00+05:30,14.055278,16.690642,12.232484,13.198784,9113400.0
2,20MICRONS,2008-10-08 00:00:00+05:30,12.298369,12.825443,11.024610,11.639528,2464384.0
3,20MICRONS,2008-10-10 00:00:00+05:30,10.936763,10.936763,9.509274,10.190077,1207928.0
4,20MICRONS,2008-10-13 00:00:00+05:30,10.673226,11.683450,10.233999,10.826956,898692.0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012841 entries, 0 to 6012840
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   ticker  object
 1   Date    datetime64[ns, Asia/Kolkata]
 2   Open    float64
 3   High    float64
 4   Low     float64
 5   Close   float64
 6   Volume  float64
dtypes: datetime64[ns, Asia/Kolkata](1), float64(5), object(1)
memory usage: 321.1+ MB